.country-section {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 20px;
    background: rgb(170, 165, 250);
    background: linear-gradient(90deg, rgba(170, 165, 250, 1) 0%, rgba(221, 221, 246, 1) 100%, rgba(193, 239, 249, 1) 100%);
}

.country-section h2 {
    font-size: 30px;
    color: crimson
}

.country-section img {
    width: 120px;
}